.task {
    background-color: rgba(243, 243, 20, 0.651);
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.task.reminder {
    border-left: green;
}

.task h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}